*, *::before, *::after {
    box-sizing: inherit;
}
html {
    scroll-behavior: smooth;
    font-size: 100%;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #152a37;
    color: #F6F0ED;
}


/* nav */
nav {
    background-color: #11222c;
    padding: 10px;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    @media (min-width: 600px) {
        padding: 20px;
    }
}
nav a {
    text-decoration: none;
    color: #F6F0ED;
    position: relative;
}
nav a::before {
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: #F34616;
}
nav a:hover {
    transition: color 0.5s ease-out;
    color: #F34616;
}
nav a:hover::before {
    background: linear-gradient(to right, #F6F0ED 60%, #F34616 75%);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    display: grid;
    grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-column-gap: 3%;
    justify-content: center;
    justify-items: end;
    max-width: 95%;
}
.fullwidth {
    grid-column: 1 / span 1;
    justify-self: start;
    padding-left: 3%;
}
@media only screen and (max-width: 600px) {
    ul {
        max-width: 100%;
        grid-column-gap: 2%;
    }
    .fullwidth {
        padding-left: 0%;
    }
}
@media only screen and (max-width: 360px) {
    nav {
        font-size: 1.1rem;
    }
}


/* My name is header */

header {
    margin-top: 10%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: left;
    width: 100%;
    max-height: 60vh;
}
.vertical-icons {
    grid-area: 1 / 3 / span 2 / span 1;
    display: grid;
    flex-direction: column;
    justify-items: center;
}
.email-icon, .linkedin-icon, .github-icon {
    color: #F34616;
}
@media only screen and (max-width: 600px) {
    .email-icon, .linkedin-icon, .github-icon {
        display: none;
    }
}
.cv-icon {
    color: #152a37;
    background-color: #F34616;
    text-decoration: none;
    border-radius: 0.3rem;
    padding: 0.42rem;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 0.2rem;
    display: none;
}
.cv-icon:hover {
    background-color: #F3461695;
    transition: 0.5s;
}   
.email-icon:hover, .linkedin-icon:hover, .github-icon:hover {
    color: #F3461695;
    transition: 0.5s;
}
.hello {
    grid-area: 1 / 2 / span 1 / span 1;
    color: #f5653d;
    font-size: 1.2rem;
    margin: 0%;
    align-self: end;
    text-shadow: 2px 2px 4px #11222c;
}
.my-name {
    grid-area: 2 / 2 / span 1 / span 1;
    color: #BBB193;
    font-size: 6rem;
    margin: 0%;
    line-height: 1;
    padding: 2% 0 5% 0;
    text-shadow: 2px 2px 4px #11222c;
}
.intro {
    grid-area: 3 / 2 / span 1 / span 1;
    color: #F6F0ED;
    margin: 0%;
    text-shadow: 2px 2px 4px #11222c;
}
.intro-button {
    grid-area: 4 / 2 / span 1 / span 1;
    margin: 0%;
}
@media only screen and (max-width: 970px) {
    .my-name {
        font-size: 5rem;

    }
}
@media only screen and (max-width: 810px) {
    .my-name {
        font-size: 4.5rem;
        padding: 7% 0;
    }
}
@media only screen and (max-width: 600px) {
    .my-name {
        padding: 10% 0;
    }
}
@media only screen and (max-width: 700px) {
    .intro-button {
        margin-top: 6%;
    }
}
@media only screen and (max-width: 325px) {
    .my-name {
        font-size: 4rem;
    }
}
.contact-button {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
    border: 0.1rem solid #f5653d;
    background-color: #152a37;
    margin: 0 0.3rem 0.3rem 0;
    border-radius: 1rem;
    text-decoration: none;
    color: #f5653d;
    text-align: center;
    transition: all 0.5s;
    font-size: 1.2rem;
}
.contact-button:hover {
    background-color: #f5653d20;
    cursor: pointer;
}


/* About */

.about-grid {
    margin-top: 5%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 2%;
    text-align: left;
}
.about-title {
    grid-area: 1 / 2 / span 1 / span 1;
    font-size: 3rem;
    border-bottom: 0.2rem #F34616 solid;
    text-shadow: 2px 2px 4px #11222c;
}
.about-text {
    grid-area: 2 / 2 / span 1 / span 1;
}
.about-text span {
    font-size: 1.1rem;
    color: #F34616;

}
.about-grid img {
    grid-area: 2 / 3 / span 1 / span 1;
    height: auto;
    max-width: 70%;
    border: 0.1rem solid #f5653d;
    border-radius: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 1200px) {
    .about-grid img {
        max-width: 80%;
    }
}
@media only screen and (max-width: 1000px) {
    .about-grid img {
        max-width: 80%;
    }
}
@media only screen and (max-width: 800px) {
    .about-grid img {
        max-width: 100%;
    }
}

/* Portfolio */

.portfolio-grid {
    margin-top: 5%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr; 
    grid-template-columns: 1fr 2.7fr 1.3fr 1fr;
    gap: 2%;
    text-align: left;
}
.portfolio-title {
    grid-area: 1 / 2 / span 1 / span 1;
    font-size: 3rem;
    border-bottom: 0.2rem #F34616 solid;
    text-shadow: 2px 2px 4px #11222c;
}
.board-game-website-text {
    grid-area: 3 / 3 / span 1 / span 1;
}
.board-game-website-text span, .placeholder-text span, #jammming-text span {
    font-size: 1.1rem;
    color: #F34616;
}
.portfolio-img-container {
    grid-area: 3 / 2 / span 1 / span 1;

}
.board-game-website-img {
    grid-area: 3 / 2 / span 1 / span 1;
    height: auto;
    max-width: 100%;
    min-width: 300px;
    border: 0.1rem solid #f5653d;
    border-radius: 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.placeholder-image {
    grid-area: 4 / 2 / span 1 / span 1;
    height: auto;
    max-width: 100%;
    min-width: 300px;
    border: 0.1rem solid #f5653d;
    border-radius: 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.placeholder-text {
    grid-area: 4 / 3 / span 1 / span 1;
}
#jammming-image {
    grid-area: 2 / 2 / span 1 / span 1;
    height: auto;
    max-width: 100%;
    min-width: 300px;
    border: 0.1rem solid #f5653d;
    border-radius: 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#jammming-text {
    grid-area: 2 / 3 / span 1 / span 1;

}
.jammming-img-container {
    grid-area: 2 / 2 / span 1 / span 1;
}

/* Contact */

.contact-grid {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: left;
    width: 100%;
}
.contact-title {
    grid-area: 1 / 2 / span 1 / span 1;
    font-size: 3rem;
    border-bottom: 0.2rem #F34616 solid;
    text-shadow: 2px 2px 4px #11222c;
}
.contact-text {
    grid-area: 2 / 2 / span 1 / span 1;
}
.contact-icons {
    grid-area: 3 / 2 / span 1 / span 1;
    margin-bottom: 15%;
}
.contact-icons i {
    color: #BBB193;
    margin-right: 4%;
}
.contact-icons i:hover {
    color: #e6e2d6;
    transition: color 0.3s ease-out;
}




/* Footer */
footer {
    background-color: #11222c;
    bottom: 0;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 8fr 2fr;
}
.copyright {
    grid-area: 1/ 2 / span 1 / span 1;
}
.to-the-top {
    color: #F34616;
    grid-area: 1 / 3 / span 1 / span 1;
    text-decoration: none;
    font-weight: bold;
}





@media only screen and (max-width: 1000px) {
    header {
        grid-template-columns: 0.5fr 4fr 1fr;
    }
}
@media only screen and (max-width: 1000px) {
    .about-grid {
        grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
    }
}
@media only screen and (max-width: 1000px) {
    .portfolio-grid {
        grid-template-columns: 0.2fr 2.7fr 1.3fr 0.2fr;
    }
}
@media only screen and (max-width: 1000px) {
    .contact-grid {
        grid-template-columns: 0.2fr 4fr 0.2fr;
    }
}

@media only screen and (max-width: 600px) {
    .about-grid {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        margin-right: 3%;
    }
    .about-grid img {
        max-width: 70%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        margin-right: 3%;
    }
    .board-game-website-img, .placeholder-image, #jammming-image {
        max-width: 95%;
    }
    .board-game-website-text, .placeholder-text, #jammming-text{
        margin-bottom: 8%;
    }
}

@media only screen and (max-width: 683px) {
    header {
        margin-bottom: 10%;
    }
}
@media only screen and (max-width: 656px) {
    header {
        margin-bottom: 15%;
    }
}
@media only screen and (max-width: 600px) {
    header {
        margin-bottom: 25%;
    }
}

@media only screen and (max-width: 374px) {
    header {
        margin-bottom: 40%;
    }
}